.main {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
 
.mobileOnlyBanner { display: none; }
@media (max-width: 768px) { .mobileOnlyBanner { display: flex; justify-content: center; } }

.mobileReorder { display: contents; }
@media (max-width: 768px) {
  .mobileReorder { display: flex; flex-direction: column-reverse; }
}
